<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-raised-button color="warn" class="espa" routerLink='home'>
        Home
      </button>
      <br>
      <button mat-raised-button color="warn" class="espa" routerLink='info'>
        Mostrar Nome
      </button>
      <br>
      <button mat-raised-button color="warn" class="espa" routerLink='lista'>
        Lista de Heróis
      </button>
    </mat-drawer>
  
    <mat-toolbar color="warn">
        <button mat-icon-button color="basic" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h2>Poder do Angular</h2>
    </mat-toolbar>

    <mat-card>

        <mat-card-content class="content">
            <h2>Teste os poderes do Angular </h2>
            <p>Data Binding</p>
            <p>Single Page Application</p>
        </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
</mat-drawer-container>